<div class="card shadow mb-4" style="width: 600px;">
	<div class="card-header py-6">
		<h6 class="m-0 font-weight-bold text-primary">Listado de estudiantes</h6>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="btn btn-success" ng-click="openEditor()">
					<span class="glyphicon glyphicon-user"></span> Crear nuevo Estudiante
				</div>
			</div>
		</div>
		<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombres</th>
					<th scope="col">Apellidos</th>
					<th scope="col">Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="student in students">
					<th scope="row">{{$index + 1}}</th>
					<td>{{student.name}}</td>
					<td>{{student.lastname}}</td>
					<td>
						<div class="btn btn-warning" ng-click="edit(student)">
							EDITAR
						</div>
						<div class="btn btn-danger" ng-click="delete(student)">
							ELIMINAR
						</div>
					</td>
				</tr>
			</tbody>
		</table>


	</div>

</div>